.bege{
    color: #F5E8D6;
}
.bege-bg{
    background: #F5E8D6;
}

.marrom{
    color: #A67B5B   ;
}
.marrom-dark{
    color: #614834;
}
.marrom-bg{
    background: #A67B5B;
}

.verde-s{
    color: #A8BBA3;
}
.verde-s-bg{
    background: #A8BBA3;
}
.bege-fundo{
    background: #F8EAD9;
}